:root{
    --blue1: #255398;
    --blue2: #002664;
    --tan: #E5D9B2;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    margin: 3vh 8vw;
    min-height: 67vh
}

header, .top_head, .bot_head, footer{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

header{
    z-index: 2;
    position: sticky;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--tan);
    width: 100vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.bot_head{
    display: none;
}

.logo{
    width: 15%;
    max-width: 20vw;
}

h1{
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    font-size: max(2.6rem, 2rem);
    text-align: center;
}

h2{
    font-size: max(2.6rem, 1.5rem);
    color: var(--blue2);
    margin-bottom: 2.3vh;
}

p, label{
    font-size: max(2.2rem, 1.8rem);
}

option, button{
    font-size: 1rem;
}

footer{
    z-index: 1;
    flex-direction: row;
    background-color: var(--tan);
    width: 100vw;
    height: 6.5vh;
    justify-content: space-evenly;
    align-items: center;
}

footer > a{
    color: var(--blue2);
    font-size: max(1.5rem, 1rem);
}

a{
    text-decoration: none;
    color: var(--blue1);
    margin-bottom: 1vh;
}

/*computer*/
@media (min-width: 1000px){
    main{
        min-height: 75vh
    }
    .logo{
        width: 6vw;
    }
    .bot_head{
        display: none;
    }
    h2{
        font-size: max(2.2rem, 1.5rem);
    }
    p, label, a{
        font-size: max(1.7rem, 1.2rem);
    }
    option, button{
        font-size: 1rem;
    }
}