:root{
    --blue1: #255398;
    --blue2: #002664;
    --tan: #E5D9B2;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    margin: 3vh 8vw;
}

header, .top_head, .bot_head, footer{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

header{
    z-index: 2;
    position: sticky;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--tan);
    width: 100vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.bot_head{
    display: none;
}

.logo{
    width: 15%;
    max-width: 20vw;
}

h1{
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    font-size: max(2.7rem, 2rem);
    text-align: center;
}

h2{
    font-size: max(2.2rem, 1.5rem);
    color: var(--blue2);
}

footer{
    z-index: 1;
    position: absolute;
    flex-direction: column;
    background-color: var(--tan);
    width: 100vw;
    height: 6.5vh;
    top: 93.5vh;
    justify-content: center;
    align-items: center;
}

footer > a{
    color: var(--blue2);
    text-decoration: none;
    font-size: max(1.5rem, 1rem);
}

/*computer*/
@media (min-width: 1000px){
    .logo{
        width: 6vw;
    }
    .bot_head{
        display: none;
    }
}